@model IEnumerable<Crafter.Models.Tutorial>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="administration-container">



</div>