@model IEnumerable<Crafter.Models.Tutorial>

@{
    ViewBag.Title = "Crafter Tutorials";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Ajax.BeginForm("Search", "Tutorials", new AjaxOptions
        {
            UpdateTargetId = "tutorials",
            InsertionMode = InsertionMode.Replace
        }))
    {
        @(Html.Kendo()
    .AutoComplete()
    .Name("tutorialSearch")
    .DataTextField("Title")
    .MinLength(3)
    .Placeholder("Enter tutorial")
    .DataSource(source =>
        {
            source.Read(read =>
                {
                    read.Action("GetTutorials", "Tutorials");
                    read.Data("tutorialSearch");
                })
                .ServerFiltering(true);
        }
    ))


        @(Html.Kendo()
        .DropDownList()
        .Name("categoryId")
        .DataTextField("Name")
        .DataValueField("Id")
        .OptionLabel("All")
        .DataSource(data =>
        {
            data.Read(read => read.Action("GetCategories", "Tutorials"));
            data.ServerFiltering(true);
        }))

        <input type="submit" value="Search" class="k-button" />
    }
</div>

<div id="tutorials" class="row">

    @Html.Partial("_TutorialsList", Model);
</div>

<script type="text/javascript">
    function tutorialSearch() {
        return {
            title: $("#tutorialSearch").val()
        }
    }
</script>