body {
    background-color: #F2F2F2;
    padding-top: 60px;
    padding-bottom: 40px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
    background-color: white;
    border-style: none;
}

#user-profile {
    padding: 20px;
}

    #user-profile div {
        margin-top: 20px;
    }

    #user-profile img {
        height: 180px;
        width: 150px;
    }

    #user-profile .boldText {
        font-weight: bold;
    }

#grid div a {
    font-size: 18px;
    text-decoration: none;
}





.tutorials-wrapper {
    padding: 10px 30px 30px 30px;
    background-color: #fefefe;
    border: 1px solid #DDDDDD;
}

.tutorial-home {
    padding: 20px 0 20px 0;
    border-bottom: 1px dashed #ccc;
}

    .tutorial-home img {
        display: inline;
    }

.tutorial-home-description {
    margin-left: 20px;
}

    .tutorial-home-description h3 {
        margin-top: 0;
    }

    .tutorial-home-description a {
        color: #347db5;
    }

.home-tutorial-category {
    color: #4C98D3;
}

.tutorial-author-and-date {
    font-size: small;
}

.tutorial-description {
    width: 400px;
}

.home-search {
    background-color: #fefefe;
    border: 1px solid #DDDDDD;
}

    .home-search .form-horizontal legend {
        padding: 0 0 20px 30px;
    }

    .home-search .form-horizontal .control-group label {
        margin-left: 50px;
        width: 30px;
    }

    .home-search .form-horizontal .control-group .controls {
        margin-left: 130px;
    }
.no-border {
    border: none;
}

.separate {
    padding: 20px 0 20px 0;
    border-bottom: 1px dashed #ccc;
}

.tutorial-full-description {
    margin-top: 20px;

}

.single-comment {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #efefef;
}