@model Crafter.Models.Comment

<div class="single-comment">
    <strong>@Model.User.UserName</strong>
    <span>on @Model.CreatedOn.ToString("dd-MMM-yyyy HH:MM:ss")</span>
    <p>@Model.Content</p>
</div>